mixin header(data)
    .header
        a(href="/").header__logo Аэропорт
        .header__menu
            a(href="departure.html").header__menu-item Табло вылета
            a(href="arrival.html").header__menu-item Табло прилета
            a(href="delayed.html").header__menu-item Задержанные рейсы
            
            
            
